
.shop-header {
    background-image: url('https://assets-eu-01.kc-usercontent.com/3b3d460e-c5ae-0195-6b86-3ac7fb9d52db/819061b6-7d77-4e3b-96af-1075fb2de5cb/Bugatti%20Chiron%20Super%20Sport%20300%2B.jpeg?width=800&fm=jpg&auto=format') ;
    background-size: cover;
    height: 700px;
    color: white;
}

.shop-header a {
    color: orange;
}

.nav-link a :visited{
    color: orange;
    background-color: white;
}

.nav-link a :link{
    color: white;
}


.shop-stats {
    color: white;
}