<nav class="navbar navbar-expand-lg bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">P's Dealership</a>
      <button class="navbar-toggler bg-dark-subtle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active active link-light" aria-current="page" href="#">Shop</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="#">Used Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link link-light" href="#">Financing</a>
        </li>
        </ul>
      </div>
    </div>
  </nav>